fastapi
boto3
uvicorn
pydantic
ujson
sqlalchemy
aiomysql
mysqlclient
sentry-sdk
loguru
requests
langchain
openai
replicate
lanarky
tiktoken
grpcio
pinecone-client
python-multipart
botocore
stripe
cryptography
httpx
langchain-community
